body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-ubuntu: Ubuntu;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-black: #000;
  --color-palevioletred: #ff7bab;
  --color-white: #fff;
  --color-midnightblue: #330033;
  --color-purple-100: #993399;
  --color-purple-200: #782a5b;
  --color-gray-100: rgba(0, 0, 0, 0.85);
  --color-gray-200: rgba(122, 118, 118, 0.71);
  --color-gray-300: rgba(15, 15, 15, 0.09);
  --color-lightpink: #ffb7b7;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-8xs: 5px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-3xs: 10px;
}
